<div class="mainInputForm">
  <div class="notes-list">
    <div class="row" *ngFor="let note of spaNoteListArray;">
      <div class="col-md-12 notes-item">
            <div class="notes row">
                <div class="col-md-7">
                    Note Author: {{note.title}}
                </div>
                <div class="col-md-5">
                        <button type="button" class="btn btn-primary" (click)="onDeleteNote(note.id); ">Delete Note</button>               
                        <button type="button" class="btn btn-primary"  [routerLink]="['/editForm',note.id]">Edit Note</button>    
                        <button type="button" class="btn btn-primary"  [routerLink]="['/singleNote',note.id]">Open Note</button>    
                </div>
                <div class="col-md-12 notes-item-content">
                    Note content:
                    {{note.content}}
                </div>
            </div>
            <h3>Comments:</h3>
            <div class="row comments" *ngFor="let comm of spaCommentListArray;">
                <div class="comment col-md-12" *ngIf="comm.notes_id == note.id">
                    <div class="row">
                            <div class="offset-md-1"></div>                    
                            <div class="col-md-5">
                                Comments exist:   {{comm.date}}
                            </div>
                            <div class="col-md-6">
                                Comment author: {{comm.author}}
                            </div>
                            <div class="offset-md-2"></div>
                            <div class="col-md-10">
                                {{comm.content}}
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 head-inputs">
                <label for="comAuthor">Comment Author name</label>
                <input type="text" id="comAuthor" class="form-control" #comTitle>
                <label for="eFormControlTextarea1">Comment Note content</label>
                <textarea rows="10" name="comment" id="eFormControlTextarea1" class="form-control" #comCont></textarea>
            </div>
            <div class="col-md-3 head-btn">
                <button type="button" class="btn btn-primary" (click)="onAddComment(note.id,comTitle,comCont)">Add comment</button>
            </div>
      </div>
    </div>
  </div>
</div>
