<div class="row">
  <div class="col-md-9 head-inputs">
      <label for="author">Author name</label>
      <input type="text" id="author" class="form-control" #authorItemQuery>
      <label for="exampleFormControlTextarea1">Note content</label>
      <textarea rows="10" name="queryContent" id="exampleFormControlTextarea1" class="form-control" #contentItemQuery></textarea>
  </div>
  <div class="col-md-3 head-btn">
    <button type="button" class="btn btn-primary" (click)="onAddNote_(authorItemQuery,contentItemQuery)" routerLink="/viewList" >Add Note</button>
  </div>
</div>