<div class="mainInputForm">
  <div class="row">
    <div class="col-md-9 head-inputs">
        <label for="author">Author name</label>
        <input type="text" class="form-control" #authorItemQuery>
        <label for="exampleFormControlTextarea1">Query content</label>
        <input type="text" class="form-control" #contentItemQuery>
    </div>
    <div class="col-md-3 head-btn">
      <button type="button" class="btn btn-primary" (click)="onAdd(authorItemQuery,contentItemQuery)">Add Query</button>
    </div>  
  </div>
  <div class="row">
    <div class="col-md-12 content">
      
    </div>
  </div>
</div> 