<div *ngFor="let note of spaNoteListArray;">
  <div class="row" *ngIf="id == note.id">
    <div class="col-md-9 head-inputs">
        <label for="author">Author name</label>
        <input type="text" id="author" value="{{note.title}}" class="form-control" #noteTitle>
        <label for="exampleFormControlTextarea1">Note content</label>
        <textarea rows="7" name="noteContent" id="exampleFormControlTextarea1" class="form-control" #noteCont>{{note.content}}
        </textarea>
    </div>
    <div class="col-md-3 head-btn">
      <button type="button" class="btn btn-primary" (click)="onEditNote_(note.$key, noteTitle, noteCont)" routerLink="/viewList">Edit Note</button>
    </div>
  </div>
</div>
