<div class="mainInputForm">
    <div class="notes-list">
      <div class="row" *ngFor="let note of spaNoteListArray;">
        <div class="col-md-12 notes-item" *ngIf="id==note.id">
              <div class="notes row">
                  <div class="col-md-7">
                        Note Author: {{note.title}}
                  </div>
                  <div class="col-md-5">
                 </div>
                  <div class="col-md-12 notes-item-content">
                        Note content:
                      {{note.content}}
                  </div>
              </div>
              <h3>Comments:</h3>
              <div class="row comments" *ngFor="let comm of spaCommentListArray;">
                  <div class="comment col-md-12" *ngIf="comm.notes_id == id">
                      <div class="row">
                              <div class="offset-md-1"></div>                    
                              <div class="col-md-5">
                                  Comments exist:   {{comm.date}}
                              </div>
                              <div class="col-md-6">
                                  Comment author: {{comm.author}}
                              </div>
                              <div class="offset-md-2"></div>
                              <div class="col-md-10">
                                  {{comm.content}}
                              </div>
                      </div>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  