/* You can add global styles to this file, and also import other style files */
.spa-notes-area > app-spanotes{
	width: 100%;
}
.mainInputForm{
    width: 80%;
    margin: 30px auto 0;
}
.head-btn{
    padding: 5% 5%;
}
.head-btn > .btn{
	width: 100%;
}
.query-item{
    padding: 20px 15px;
    border: 1px solid #45e0b8;
    border-radius: 15px;
}
.query-item > .row{
    margin-bottom: 10px;
}
.query-item-content{
    padding: 15px;
}
.query-list-head{
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
}
.query-list-head > button{
    /* margin: 5px 30px;
    padding: 8px 30px; */
    background: #45e0b8;
    color: #fff;
    border-radius: 10px;
    line-height: 30px;
    transition: 0.3s;
    box-shadow: none!important;
    border: 1px solid #fff;
}
.query-list-head > button:hover{
    border: 1px solid #fff;
    text-decoration: none;
    background: #71ccb4;
    transform: scale(1.2);
    transition: 0.3s;
}
.query-list-head > button:active{
    background: #71ccb4!important;
    border: 1px solid #fff!important;    
    box-shadow: none!important;

    
}